name: Tests

on: [push, pull_request]
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
      - name: Install Pooch
        shell: bash -l {0}
        run: |
          conda install -c conda-forge pooch
      - uses: actions/cache@v5
        id: filecache
        with:
          path: tests/data
          enableCrossOsArchive: true
          key: testfiles
      - name: Download Files
        run: |
          cd tests
          python -m fetch_files.py
      
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.10", "3.12"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Restore Cached Files
        uses: actions/cache/restore@v5
        id: filecache
        with:
          path: tests/data
          key: testfiles
          enableCrossOsArchive: true
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        shell: bash -l {0}
        run: python -m pip install --upgrade pip
      - name: MacOS install hdf5 dependencies
        if: runner.os == 'macOS'
        run: |
          brew install hdf5
          export HDF5_DIR=/usr/local/
          export BLOSC_DIR=/usr/local/
      - name: Install Dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge cython numpy numba nbconvert pytest jupyter scipy pandas matplotlib pytables phconvert lmfit pybroom seaborn setuptools pyqt pooch
      - name: Install project
        shell: bash -l {0}
        run: |
          python -m pip install . 
      - name: Test project
        shell: bash -l {0}
        run: |
          cd notebooks
          python nbrun.py .
          cd ..
          cd tests
          python -m pytest
