name: Tests

on: [push, pull_request]
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        id: filecache
        with:
          path: ./tests/data
          enableCrossOsArchive: true
          key: testfiles
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          channels: conda-forge
          python-version: "3.12"
      - name: Install Pooch
        shell: bash -l {0}
        run: |
          conda install -c conda-forge pooch
      - name: Download Files
        shell: bash -l {0}
        run: |
          cd tests
          python fetch_files.py
      - name: test move
        run: |
          ls
          cp ./tests/data/* *
      
  build:
    needs: download
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.10", "3.12"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Restore Cached Files
        uses: actions/cache/restore@v5
        with:
          path: ./tests/data
          key: testfiles
          enableCrossOsArchive: true
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        shell: bash -l {0}
        run: python -m pip install --upgrade pip
      - name: MacOS install hdf5 dependencies
        if: runner.os == 'macOS'
        run: |
          brew install hdf5
          export HDF5_DIR=/usr/local/
          export BLOSC_DIR=/usr/local/
      - name: Install Dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge cython numpy numba nbconvert pytest jupyter scipy pandas matplotlib pytables phconvert lmfit pybroom seaborn setuptools pyqt pooch
      - name: Install project
        shell: bash -l {0}
        run: |
          python -m pip install . 
      - name: Test project
        shell: bash -l {0}
        run: |
          cd notebooks
          python nbrun.py .
          cd ..
          cd tests
          python -m pytest

  build_wheels:
    needs: build
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-15-intel, macos-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/cache/restore@v5
        with:
          path: ~/tests/data
          enableCrossOsArchive: true
          key: testfiles
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_SKIP: "pp* cp310-win_arm64"
          CIBW_TEST_REQUIRES: pytest numpy matplotlib scipy pandas tables numba seaborn lmfit phconvert
          CIBW_BEFORE_TEST: python -m pip install pytest
          CIBW_TEST_COMMAND: python -m pytest {package}/tests
      
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
