name: Tests

on: 
  push:
    branch:
      - gitactions
  pull_request:
    branch:
      - gitactions
jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{matrix.python-version}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}
      - name: Download files Unix
        if: runner.os != 'Windows'
        run: |
          wget -N http://files.figshare.com/2182604/12d_New_30p_320mW_steer_3.hdf5
          wget -N http://files.figshare.com/2182601/0023uLRpitc_NTP_20dT_0.5GndCl.hdf5
      - name: Downlaod files Windows
        if: runner.os == 'Windows'
        run: |
          curl.exe --output 2182604/12d_New_30p_320mW_steer_3.hdf5 --url http://files.figshare.com/2182604/12d_New_30p_320mW_steer_3.hdf5
          curl.exe --output 0023uLRpitc_NTP_20dT_0.5GndCl.hdf5 --url http://files.figshare.com/2182601/0023uLRpitc_NTP_20dT_0.5GndCl.hdf5
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install Dependencies
        run: |
          python -m pip install pytest cython numpy scipy pandas matplotlib seaborn
          python -m pip install ipython nbconvert lmfit phconvert pybroom
      - name: Install project
        run: |
          python setup.py sdist
          python -m pip install .
      - name: Test project
        run: |
          python fretbursts/tests/nbrun.py notebooks
          python -m pytest
